body.open {
  overflow: hidden;
}
body.open:before {
  visibility: visible;
  opacity: 1;
}
body:before {
  content: "";
  position: fixed;
  background-color: #D75151;
  width: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  visibility: hidden;
  opacity: .9;
  transition: all 0.5s ease;
  z-index: 1;
}
.burger {
  float: right;
    position: relative;
    z-index: 1;
}
.burger__button {
  display: block;
  position: relative;
  background:transparent;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  transition: all 0.5s ease;
  border: opx solid transparent;
  box-shadow: 0px 0px 8px -2px #333;
  
}
.burger__button.open {
  border: 0px solid #fff;
  box-shadow: none;
 
}
.burger__button__icon {
  display: inline-block;
  position: absolute;
  background: #AFAFAF;
  margin: 0 auto;
  width: 20px;
  height: 2px;
  top: 50%;
  left: 0;
  right: 0;
  transition: all 0.5s ease;
  transform: translateY(-1px);
  
}
.burger__button__icon:before,
.burger__button__icon:after {
  content: "";
  position: absolute;
  margin: 0 auto;
  background: #AFAFAF;
  width: 20px;
  height: 2px;
  left: 0;
  right: 0;
  transition: all 0.5s ease;
}
.burger__button__icon:before {
  bottom: 10px;
  z-index: 1;
}
.burger__button__icon:after {
  top: 10px;
}
.burger__button.open .burger__button__icon {
  background: transparent;
}
.burger__button.open .burger__button__icon:before,
.burger__button.open .burger__button__icon:after {
  transform-origin: 0 50%;
  width: 28.28427125px;
}
.burger__button.open .burger__button__icon:before {
  transform: rotateZ(0.78539816rad);
}
.burger__button.open .burger__button__icon:after {
  transform: rotateZ(-0.78539816rad);
}
.burger__menu {
  list-style-type: none;
  padding: 0 0 0 20px;
  position: absolute;
    right:0;
  
}
.burger__menu li {
  display: block;
  position: relative;
  margin: 15px 0;
  visibility: hidden;
  transition: all 0.5s ease;
  transform: translateX(-400px);
 
}
.burger__menu a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  font-family: 'Spinnaker', sans-serif;
  font-size: 2em;
  transition: all 0.4s ease;
  border-left: 0px solid transparent;
  padding-left: 0;
   z-index: 1;
 
}
.burger__menu a:hover {
  padding-left: 30px;
  border-left: 0px solid #fff;
}
.burger__button.open + .burger__menu li {
  transform: translateX(0);
  visibility: visible;
}


.burger{
  position: fixed;
  bottom: 40%;
  right: 120px;
 
  
}