body{
    margin: 0;
    background: #080808;
}



.totop{
  width: 100px;
  float: right;
  position: 
}

#container{
    padding: 0 130px;
    
}


.top{
  position: fixed;
  bottom: 20px;
  right: 128px;
  display: none;
}

.imgtotop{
  width:40px;
  float: right;
  opacity:.3;
}

.imgtotop:hover {
  width:34px;
  float: right;
  opacity:1;
  transition: all 0.4s ease;
}


.logo{
    width: 90px;
    
}

.chname{
    writing-mode: tb-rl;
    font-size: 0.6em;
    letter-spacing: 20px;
    float: right;
}


header{
    
    color: #AFAFAF;
    
    height: 100vh;
    padding-top: 80px;
    box-sizing: border-box;
}


.enname{
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 1em;
    letter-spacing: 1px;
    float: left;
    position: relative;
 
    
}

.enname::before{
   
    content: "-";
    position: absolute;
    bottom: -20px;
    left: 0;
}


.mid{

  box-sizing: border-box;
  padding-top:25vh;
}


.btm{
  box-sizing: border-box;
  padding-top:35vh;
}

.arrow{
  width: 40px;
  position:relative;
  left: 0px;
  bottom:0px;
  animation-name:move;
  animation-iteration-count: infinite;  
  animation-duration: 1.4s;
}

@keyframes move{
  from { bottom:0px;}
  to { bottom:7px;}
  from { opacity:.3;}
  to { opacity: 1;}
   
}





.behanceimg{
    width: 30px;
    float:right;
    padding: 10px;
    padding-right: 0;
    opacity: .4;
}

.behanceimg:hover{
    width: 30px;
    float:right;
    padding: 10px;
    padding-right: 0;
    opacity: 1;
    transition: all 0.4s ease;
}



.facebookimg{
   width: 30px;
    float:right;
    padding: 10px;
    padding-right: 0;
    opacity: .4;
}



.facebookimg:hover{
    width: 30px;
    float:right;
    padding: 10px;
    padding-right: 0;
    opacity: 1;
    transition: all 0.4s ease;
}


.fb{
    width: 20px;
    float:right;
    padding: 10px;
}


.wording{
    width:40vw;
    color: #9D9D9D;
    font-size: 0.6em;
    letter-spacing: 1.4px;
    font-family: 'Hind Vadodara', sans-serif;
    padding-top: 100px;
    line-height: 23px;
    white-space: normal;
}


.enwording{
    width:40vw;
    color: #9D9D9D;
    font-size: 0.6em;
    letter-spacing: 1.4px;
    font-family: 'Hind Vadodara', sans-serif;
    padding-top: 10px;
    padding-bottom: 30px;
    line-height: 23px;
}



.biotitle{
    color: #9D9D9D;
    font-size: 1em;
    letter-spacing: 1px;
    font-family: 'Hind Vadodara', sans-serif;
    
}


.bio{
    padding: 80px 0 0 0 ;

}




.logo2{
    padding-right: 0;
    float: right;
    width: 90px;
    opacity:0;
}


.mail{
    float: right;
    color: #9D9D9D;
    font-size: 0.6em;
    letter-spacing: 1.4px;
    font-family: 'Hind Vadodara', sans-serif;
    
    
}

.biographc{
    width: 40vw;
    float:right;
    top:300px;
}



.coummunity{
    font-family: 'Spinnaker', sans-serif;
    color: #9D9D9D;
    font-size: 2em;
    padding-top:230px;
    
}



footer{
    color: black;
}





.fndetail{
    width:40vw;
    color: #9D9D9D;
    font-size: 0.3em;
    letter-spacing: 1.4px;
    
    padding-top: 100px;
    line-height: 23px;
    white-space: normal;
}






.endtitle{
  font-family: 'Spinnaker', sans-serif;
    color: #9D9D9D;
    font-size: 2em;
    padding-top:230px;
}






.fnintro{
  width:40vw;
    color: #9D9D9D;
    font-size: 0.3em;
    letter-spacing: 1.4px;
    
    padding-top: 100px;
    line-height: 23px;
    white-space: normal;
    font-family: 'Spinnaker', sans-serif; 
}


.fnlogo{
  width:16%;
  float: right;
  margin: 50px 230px 0 0;
  opacity: .3;
  
}

.fnlogo:hover {
  opacity: 1.0;
  transition: all 0.4s ease;
}

.imgfnlogo{
  width:90%;
  float: right;
  margin: 50px 30px 0 0;
  
}


.links{
  font-family: 'Spinnaker', sans-serif;
  font-size: .9em;
  opacity: .4;
  color: #A9A9A9;
  text-decoration: none;
}



.links:hover{
  font-family: 'Spinnaker', sans-serif;
  opacity: 1.0;
  transition: all 0.4s ease;
  color: #D75151;
}



.shop{
  font-family: 'Spinnaker', sans-serif;
  font-size: .9em;
  opacity: .4;
  color: #A9A9A9;
  text-decoration: none;
}


.shop:hover{
  opacity: 1.0;
  transition: all 0.4s ease;
  color: #D75151;
}





.coummunity{
  font-family: 'Spinnaker', sans-serif;
  font-size: 2.4em;
  color: #A9A9A9;
}


.cmtitle{
  font-family: 'Spinnaker', sans-serif;
  font-size: 1.4em;
  color: #A9A9A9;
  padding-top: 160px;
}


.graphic{
  font-family: 'Spinnaker', sans-serif;
  font-size: 2.4em;
  color: #A9A9A9;
    
}


.gratitle{
  font-family: 'Spinnaker', sans-serif;
  font-size: 1.4em;
  color: #A9A9A9;
  padding-top: 160px;
}



.UXrede{
  font-family: 'Spinnaker', sans-serif;
  font-size: 2.4em;
  color: #A9A9A9;
}

.UXredetime{
  font-family: 'Spinnaker', sans-serif;
  font-size: 1.4em;
  color: #A9A9A9;
  padding-top: 160px;
}



.moreworks{
  font-family: 'Spinnaker', sans-serif;
  font-size: 1em;
  opacity: .6;
  color: #A9A9A9;
  text-decoration: none;
}


.moreworks:hover{
  opacity: 1.2;
  transition: all 0.4s ease;
  color: #D75151;
}



.dorm{
  width: 25vw;
}


.dorm4{
  width: 73.6vw;
}



.contenttitle{
  font-family: 'Spinnaker', sans-serif;
  font-size: .9em;
  opacity: .6;
  color: #A9A9A9;
  letter-spacing: .5px;
  position: relative;
}

.dormintro{
    width:60vw;
    color: #9D9D9D;
    font-size: 0.3em;
    letter-spacing: 1.4px;
    
    padding-top: 100px;
    line-height: 23px;
    white-space: normal;
    font-family: 'Spinnaker', sans-serif; 
}



.bgimg{
  width: 100vw;
  position: absolute
  
}

.headerimg{
 
  height: 86vh;
  position: fixed;
  bottom:0px;
  right: 16%;
  opacity: .7;
  z-index: 0;
  
}


.background{
  background-image:url(img/2016_ShaneChen-004.jpg) ;
  position: fixed;
  right: 0;
  left:0;
  top:0;
  bottom: 0;
  z-index: -1;
  opacity: .5;
  background-size: 60vw;
  background-repeat: no-repeat;
  background-position: center bottom;
}