body{
    margin: 0;
    
}



.totop{
  width: 100px;
  float: right;
  position: 
}

#container{
    padding: 0 130px;
    background: #080808;
}


.top{
  position: fixed;
  bottom: 20px;
  right: 128px;
}

.imgtotop{
  width:15%;
  float: right;
  opacity:.3;
}

.imgtotop:hover {
  width:12%;
  float: right;
  opacity:1;
  transition: all 0.4s ease;
}


.logo{
    width: 90px;
    
}

.chname{
    writing-mode: tb-rl;
    font-size: 0.6em;
    letter-spacing: 20px;
    float: right;
}


header{
    
    color: #AFAFAF;
    background: #080808;
    height: 100vh;
    padding-top: 80px;
    box-sizing: border-box;
}


.enname{
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 1em;
    letter-spacing: 1px;
    float: left;
    position: relative;
 
    
}

.enname::before{
   
    content: "-";
    position: absolute;
    bottom: -20px;
    left: 0;
}


.mid{

  box-sizing: border-box;
  padding-top:25vh;
}


.btm{
  box-sizing: border-box;
  padding-top:35vh;
}

.arrow{
    width: 40px;
    float:left;
    position: relative;
}





.behanceimg{
    width: 20px;
    float:right;
    padding: 10px;
    padding-right: 0;
    opacity: .4;
}

.behanceimg:hover{
    width: 20px;
    float:right;
    padding: 10px;
    padding-right: 0;
    opacity: 1;
    transition: all 0.4s ease;
}



.facebookimg{
   width: 20px;
    float:right;
    padding: 10px;
    padding-right: 0;
    opacity: .4;
}



.facebookimg:hover{
    width: 20px;
    float:right;
    padding: 10px;
    padding-right: 0;
    opacity: 1;
    transition: all 0.4s ease;
}


.fb{
    width: 20px;
    float:right;
    padding: 10px;
}


.wording{
    width:40vw;
    color: #9D9D9D;
    font-size: 0.6em;
    letter-spacing: 1.4px;
    font-family: 'Hind Vadodara', sans-serif;
    padding-top: 100px;
    line-height: 23px;
    white-space: normal;
}


.enwording{
    width:40vw;
    color: #9D9D9D;
    font-size: 0.6em;
    letter-spacing: 1.4px;
    font-family: 'Hind Vadodara', sans-serif;
    padding-top: 10px;
    padding-bottom: 30px;
    line-height: 23px;
}



.biotitle{
    color: #9D9D9D;
    font-size: .6em;
    letter-spacing: 1.4px;
    font-family: 'Hind Vadodara', sans-serif;
    
}


.bio{
    padding: 80px 0 0 0 ;

}




.logo2{
    padding-right: 0;
    float: right;
    width: 90px;
    opacity:0;
}


.mail{
    float: right;
    color: #9D9D9D;
    font-size: 0.6em;
    letter-spacing: 1.4px;
    font-family: 'Hind Vadodara', sans-serif;
    
    
}

.biographc{
    width: 40vw;
    float:right;
    top:300px;
}



.coummunity{
    font-family: 'Spinnaker', sans-serif;
    color: #9D9D9D;
    font-size: 2em;
    padding-top:230px;
    
}



footer{
    color: black;
}





.fndetail{
    width:40vw;
    color: #9D9D9D;
    font-size: 0.3em;
    letter-spacing: 1.4px;
    
    padding-top: 100px;
    line-height: 23px;
    white-space: normal;
}






.endtitle{
  font-family: 'Spinnaker', sans-serif;
    color: #9D9D9D;
    font-size: 2em;
    padding-top:230px;
}




a:hover {color:#E94646;}
a:link {color:#716D6D;} 
a:active {color:#716D6D;}
a:visited {color:#716D6D;}






.fnintro{
  width:40vw;
    color: #9D9D9D;
    font-size: 0.3em;
    letter-spacing: 1.4px;
    
    padding-top: 100px;
    line-height: 23px;
    white-space: normal;
    font-family: 'Spinnaker', sans-serif; 
}


.fnlogo{
  width:16%;
  float: right;
  margin: 50px 230px 0 0;
  opacity: .3;
  
}

.fnlogo:hover {
  opacity: 1.0;
  transition: all 0.4s ease;
}

.imgfnlogo{
  width:90%;
  float: right;
  margin: 50px 30px 0 0;
  
}


.links{
  font-family: 'Spinnaker', sans-serif;
  font-size: .5em;
  opacity: .4;
  color: #A9A9A9;
}



.links:hover{
  opacity: 1.0;
  transition: all 0.4s ease;
  color: #D75151;
}



.shop{
  font-family: 'Spinnaker', sans-serif;
  font-size: .5em;
  opacity: .4;
  color: #A9A9A9;
}


.shop:hover{
  opacity: 1.0;
  transition: all 0.4s ease;
  color: #D75151;
}





.coummunity{
  font-family: 'Spinnaker', sans-serif;
  font-size: 2.4em;
  color: #A9A9A9;
}


.cmtitle{
  font-family: 'Spinnaker', sans-serif;
  font-size: 1.4em;
  color: #A9A9A9;
  padding-top: 160px;
}


.graphic{
  font-family: 'Spinnaker', sans-serif;
  font-size: 2.4em;
  color: #A9A9A9;
    
}


.gratitle{
  font-family: 'Spinnaker', sans-serif;
  font-size: 1.4em;
  color: #A9A9A9;
  padding-top: 160px;
}
